@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/app/assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/app/assets/fonts/JetBrainsMono-Bold.ttf') format('truetype');
}
* {
  font-size:large;
  font-family: 'JetBrains Mono', monospace;
}

body {
  padding: 1rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Change this to your desired background color */
  color: white; /* Change this to your desired text color */
  padding: 20px; /* Adjust padding as needed */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 900ms ease-in-out forwards;
}